.perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }

  .back-card{
    background-image: url('../images/background.jpeg');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
  }